---
import { I18N } from 'nhavantuonglai:config';
import '~/assets/tailwind.css';

import Metadata from '~/components/common/metadata.astro';
import Schema from '~/components/javascript/schema.astro';
import Analytics from '~/components/javascript/analytics.astro';
import Opentab from '~/components/javascript/opentab.astro';

import Anticopy from '~/components/article/anticopy.astro';

import { getCanonical } from '~/utils/permalinks';

import type { MetaData as MetaDataType } from '~/types';

export interface Props {
	metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<html lang={language} dir={textDirection} class="2xl:text-[20px]">

	<head>

		<Analytics/>

		<Metadata {...metadata}/>

	</head>

	<body class="antialiased text-default bg-page tracking-tight">

		<main>

			<slot/>

			<Schema/>

			<Anticopy/>

			<Opentab/>

			<noscript>

				<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WN6L7TJP"
				
					height="0" width="0" style="display:none;visibility:hidden">

				</iframe>

			</noscript>

			<amp-auto-ads type="adsense"

					data-ad-client="ca-pub-1056697946796503">

			</amp-auto-ads>

			<style is:global>
				img {
					content-visibility: auto;
				}
			</style>

		</main>

	</body>

</html>